.square-X, .user-X, .label-X {
	color: #000080
}

.square-O, .user-O, .label-O {
	color: #b22222
}

.draw {
	color: pink
}
.win {
	color: green
}
.win, .draw, .user, label {
	font-weight: bold
}

.game-info input {
	width: 80%;
	padding: 0.2rem;
	margin: 0.2rem;
}

.game-info li {
	padding: 0.2rem 0;
}

.game-info li button {
	cursor: pointer;
}

label {
	display: inline-block;
	width: 10px;
	padding: 0 2px
}